<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="Simplic.Framework.DBUI" version="7.3.20.622" targetFramework="net48" />
  <package id="Simplic.UI" version="7.2.220.329" targetFramework="net48" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net48" />
  <package id="Telerik.Windows.Controls.Diagrams.Extensions.for.Wpf.Xaml" version="2020.1.218" targetFramework="net48" />
  <package id="Telerik.Windows.Controls.Diagrams.for.Wpf.Xaml" version="2020.1.218" targetFramework="net48" />
  <package id="Telerik.Windows.Controls.Diagrams.Ribbon.for.Wpf.Xaml" version="2020.1.218" targetFramework="net48" />
  <package id="Telerik.Windows.Controls.for.Wpf.Xaml" version="2020.1.218" targetFramework="net48" />
  <package id="Telerik.Windows.Controls.Input.for.Wpf.Xaml" version="2020.1.218" targetFramework="net48" />
  <package id="Telerik.Windows.Controls.Navigation.for.Wpf.Xaml" version="2020.1.218" targetFramework="net48" />
  <package id="Telerik.Windows.Controls.RibbonView.for.Wpf.Xaml" version="2020.1.218" targetFramework="net48" />
  <package id="Telerik.Windows.Data.for.Wpf.Xaml" version="2020.1.218" targetFramework="net48" />
  <package id="Telerik.Windows.Diagrams.Core.for.Wpf.Xaml" version="2020.1.218" targetFramework="net48" />
  <package id="TelerikMvcExtensions" version="2013.2.611" targetFramework="net48" />
</packages>