<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Colorful.Console" version="1.2.11" targetFramework="net48" />
  <package id="Dapper" version="2.0.30" targetFramework="net48" />
  <package id="iAnywhere.Data.SQLAnywhere.EF6" version="16.0.0.26144" targetFramework="net48" />
  <package id="NDesk.Options.Core" version="1.2.5" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="Simplic.CoreLib" version="6.0.18.63" targetFramework="net48" />
  <package id="Simplic.Data" version="1.6.120.322" targetFramework="net48" />
  <package id="Simplic.Data.Sql" version="1.14.220.427" targetFramework="net48" />
  <package id="Simplic.Framework.DAL" version="7.2.220.329" targetFramework="net48" />
  <package id="Simplic.Sql" version="6.3.20.322" targetFramework="net48" />
  <package id="Simplic.Sql.SqlAnywhere.Service" version="5.95.318.101" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net48" />
  <package id="Unity.Abstractions" version="5.11.6" targetFramework="net48" />
  <package id="Unity.Container" version="5.11.8" targetFramework="net48" />
</packages>