<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicLanguageRuntime" version="1.1.2" targetFramework="net48" />
  <package id="IronPython" version="2.7.7" targetFramework="net48" />
  <package id="Simplic.Dlr" version="1.4.20.322" targetFramework="net48" />
  <package id="Simplic.Framework.Base" version="8.1.22.101" targetFramework="net48" />
</packages>